---
const {
  imageUrl,
  title,
  text,
  subtitle,
  highlight,
  liveUrl,
  tags = [],
  years = [],
  facebookUrl,
} = Astro.props;
---

<section
  class=`px-8 lg:px-20 py-10 flex items-center ${highlight ? 'bg-color-secondary' : ''}`
>
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center my-10"
  >
    <div class="flex justify-center">
      {
        facebookUrl ? (
          <div class="w-full aspect-video max-w-[672px]">
            <iframe
              src={`https://www.facebook.com/plugins/video.php?href=${encodeURIComponent(facebookUrl)}&show_text=false&autoplay=false`}
              class="w-full h-full rounded-sm shadow-[0_0_30px_10px_rgba(255,215,0,0.25)]"
              allowfullscreen
              allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            />
          </div>
        ) : (
          <img
            src={imageUrl}
            class="w-full rounded-sm max-w-2xl shadow-[0_0_30px_10px_rgba(255,215,0,0.25)]"
            loading="lazy"
          />
        )
      }
    </div>
    <div class="text-center md:text-left">
      {
        tags.map((tag) => (
          <div class="badge badge-soft badge-warning mb-2 me-2">{tag}</div>
        ))
      }
      {
        years.map((year) => (
          <div class="badge badge-soft badge-accent mb-2 me-2">{year}</div>
        ))
      }
      <h2 class="text-4xl font-bold mb-4 text-white">Proyecto {title}</h2>
      <span class="text-yellow-300 text-lg">✨ {subtitle}</span>
      <p class="text-xl text-start text-white">{text}</p>
      {
        liveUrl ? (
          <a href={liveUrl} class="btn btn-primary btn-xl mt-5" target="_blank">
            En línea
          </a>
        ) : (
          <button class="btn btn-primary btn-xl mt-5" disabled>
            Fuera de línea
          </button>
        )
      }
    </div>
  </div>
</section>
