---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="es-mx">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <title>PulsarMex</title>
    <!-- Open Graph / Facebook (WhatsApp usa esto) -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content={new URL(image, Astro.url.origin).toString()}
    />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={Astro.url.href} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content={new URL(image, Astro.url.origin).toString()}
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lexend:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <ClientRouter />
  </head>
  <body class="scroll-smooth">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body><!-- To God be the Glory and the Honor -->
</html>
